.card-body{
    margin: 1% 15%;
}

body{
    background-color: white;
}

mat-card {
    max-width: 535px;
    margin: 2em auto;
    text-align: center;
}

#cancel_btn{
    color: rgba(0,0,0,.87);
    background-color: #ffffff;
    border-color: rgba(0,0,0,.87);
    margin-right: 10px;
    margin-left: 10px;
}

.addcard{
    margin: 1% 15%;
}
th{
    text-align: center;
}
td{
    text-align: center;
    align-items: center;
}
.card-body {
    margin: 1% 1%;
}
input{
    padding-top:15px;
}
.pagination{
    margin: 2% 1%;
}
.formfildes{
    margin: 1% 15%;
}
.material-icons{
    font-size: 16px;
    height: 28px;
    width: 29px;
}
.action{
    margin: 0 10px;
    width: 28px;
    height: 28px;
}
.leftcontent{
    text-align: left;
}
.leftcontent{
    text-align: left;
  }
.formfildes{
    margin: 1% 15%;
}
