.addcard {
  margin: 1% 15%;
}
th {
  text-align: center;
  padding: 8px;
}
td {
  text-align: center;
  align-items: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.material-icons{
  font-size: 16px;
  height: 28px;
  width: 29px;
}
.action{
  margin: 0 10px;
  width: 28px;
  height: 28px;
}
.pagination{
  margin: 2% 1%;
}
.leftcontent{
  text-align: left;
}

.hidden{
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: "----"; 
}
 a{
  cursor: pointer;
} 
.contain {
  height: 30px;
  overflow: hidden;
  width: 80px;
  float: left;
}

.show {
  overflow: visible;
  height: auto;
}
