    .profileName{
        font-size: 18px;
    }
    .profileType{
        font-size: 15px;
        color: gray;
    }
    .profileIconStyle
    {
        float: left; 
        margin-top: 2px;
    }
    .userName{
        float: left;
        margin-left: 100px;
        text-transform: capitalize;
        
    }
