.logo-img {
  margin: 89px 0px -14px -4px;
  width: auto;
  height: 42px;
}

.login-img {
  margin: 0 30%;
  width: fit-content;
  padding: 15px;
  height: 120px;
}
.th-img {
  margin-left: 50%;
  margin-bottom: 5px;
  width: -moz-fit-content;
  width: auto;
  margin-top: 15px;
  height: 65px;
}

.forgot-img {
  width: 130px;
  margin: 0px 0px 0px 91px;
  height: 130px;
  padding: 15px;
}

.my-card {
  max-width: 400px;
  margin: 8em auto;
  text-align: center;
}

.my-card-content {
  padding: 20px 20px 20px 20px;
}

mat-form-field {
  display: block;
}

mat-toolbar {
  background-color: white;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: rgb(4, 32, 187);
}

.forgot-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.forgot-card-content {
  padding: 20px 20px 20px 20px;
}

h6 {
  text-transform: none;
}

mat-checkbox {
  display: table;
  color: "primary";
  margin-top: 15px;
}

.login-btn {
  width: -webkit-fill-available;
  background: rgb(41, 129, 41);
  color: white;
}

.submit-btn {
  width: -webkit-fill-available;
  background: rgb(41, 129, 41);
  color: white;
  margin-top: 15px;
}
input {
  padding-top: 15px;
}
.errormsg {
  color: red;
  font-size: small;
}
